@use 'variables';

.buscarProdutos__container {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: variables.$primary-font;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 24px;
  }

  &__search {
    position: relative;
    margin-bottom: 79px;

    &__input {
      width: 549px;
      height: 65px;
      border-radius: 10px;
      border: 1px solid variables.$label-color;
      padding-left: 42px;
      font-size: 18px;
      font-weight: 400;
      font-family: variables.$primary-font;
      color: variables.$label-color;
      background-color: variables.$bg-color;
      line-height: 27px;
    }

    &__img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      margin-left: 12px;
    }
  }

  &__table {
    &__head {
      background-color: variables.$cardline-color;
      color: variables.$third-color;
      font-family: variables.$primary-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 38px;

      &__row {
        margin-bottom: 24px;
      }

      &__item {
        width: 173.55px;
        height: 43px;
      }
    }

    &__body {
      font-family: variables.$primary-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: variables.$secundary-bgColor;
  }
}
