@use 'variables';

.buscarProdutos__container {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 67px;
  position: relative;
  z-index: 3;

  &__title {
    font-family: variables.$primary-font;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 24px;
  }

  &__search {
    position: relative;
    margin-bottom: 79px;

    &__input {
      width: 549px;
      height: 65px;
      border-radius: 10px;
      border: 1px solid variables.$label-color;
      padding-left: 42px;
      font-size: 18px;
      font-weight: 400;
      font-family: variables.$primary-font;
      color: variables.$label-color;
      background-color: variables.$bg-color;
      line-height: 27px;

      @media (max-width: (variables.$breakpoint-tablet)) {
        width: 100%;
      }
    }

    &__img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      margin-left: 12px;
    }
  }

  &__table {
    @media (max-width: (variables.$breakpoint-tablet)) {
      min-width: 400px;
      margin-left: 250px;
    }

    &__head {
      background-color: variables.$cardline-color;
      color: variables.$third-color;
      font-family: variables.$primary-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 2px;
      display: grid;
      grid-template-columns: repeat(6, 173px);

      @media (max-width: (variables.$breakpoint-tablet)) {
        grid-template-columns: repeat(6, 100px);
        font-size: 12px;
      }

      &__row {
        margin-bottom: 24px;
      }

      &__item {
        width: 173.55px;
        height: 43px;
        display: flex;
        align-items: center;
        margin-left: 10px;

        @media (max-width: (variables.$breakpoint-tablet)) {
          margin-right: auto;
        }
      }
    }

    &__body {
      font-family: variables.$primary-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      display: grid;
      grid-template-columns: repeat(6, 173px);
      padding-bottom: 18.5px;
      padding-top: 29px;
      border-bottom: 1px solid variables.$line-color;

      @media (max-width: (variables.$breakpoint-tablet)) {
        grid-template-columns: repeat(6, 100px);
        font-size: 12px;
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: variables.$secundary-bgColor;
    z-index: 5;
  }
}
