@use 'variables';

.navbar__menu {
  background-color: variables.$primary-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 285px;
  height: 100%;
  z-index: 6;

  // @media (max-width: (variables.$breakpoint-tablet)) {
  //   height: 66px;
  //   background-color: variables.$primary-color;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   width: 100%;
  // }

  &__logo__img {
    margin: 26px 22.61px 53px 33px;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__item {
      display: flex;
      align-items: center;
      width: 260px;
      cursor: pointer;
      text-decoration: none;
      color: variables.$secundary-color;
      font-family: variables.$primary-font;

      &__icon__img {
        margin: 15.5px 30px 15.5px 31px;
      }

      &__arrow__img {
        margin: 15.5px 11px 15.5px auto;
      }

      &__sub {
        cursor: pointer;
        text-decoration: none;
        color: variables.$secundary-color;
        font-family: variables.$primary-font;
        padding: 15.5px 30px 15.5px 31px;
        margin-left: auto;
        margin-right: 12px;
      }

      &__sub:focus {
        background-color: variables.$third-color;
        border-radius: 5px;
      }
    }

    &__item:focus {
      background-color: variables.$third-color;
      border-radius: 5px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.navbar__closed__menu {
  position: fixed;
  top: 250px;
  left: 0;
  background-color: variables.$primary-color;
  height: 70px;
  width: 50px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 4;

  &__hamburguer {
    display: none;

    @media (max-width: (variables.$breakpoint-tablet)) {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      flex-direction: column;
      cursor: pointer;
      padding: 15px;
      background-color: variables.$primary-color;
    }

    &__item {
      width: 30px;
      height: 3px;
      background-color: variables.$secundary-color;
      margin: 4px 0;
      transition: 0.4s;
    }
  }

  @media (max-width: (variables.$breakpoint-tablet)) {
    display: none;
  }
}
