$primary-color: #3e63ac;
$secundary-color: #fff;
$third-color: #224385;
$card-color: #fefefe;
$bg-color: #f9f7f7;
$cardline-color: #e0e5eb;
$label-color: #6d7989;
$input-color: #ccd2db;

$primary-font: 'Poppins', sans-serif;
$secundary-font: 'Roboto', sans-serif;
