@use 'navbar';
@use 'cardProdutos';
@use 'dashboard';
@use 'produtos';
@use 'buscarProdutos';
@use 'botaoAdicionar';
@use 'botaoEditar';
@use 'botaoRemover';
@use 'botaoNao';
@use 'botaoSim';
@use 'botaoAtualizar';
@use 'popupRemove';
@use 'editarProdutos';
@use 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  background-color: variables.$bg-color;
}
