@use 'navbar';
@use 'cardProdutos';
@use 'dashboard';
@use 'produtos';
@use 'buscarProdutos';
@use 'botaoAdicionar';
@use 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$bg-color;
}
